<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="shortcut icon"
    href="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
    type="image/x-icon">
</head>

<body>
  <!-- navigation -->
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">
        {{#if isAuthenticated}}{{ user.name}}{{/if}}
        Foodie List
        <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
          width="30" height="30" class="d-inline-block align-top" alt="我的餐廳清單">
      </a>
      <div>
        {{#if isAuthenticated}}
        <a href="/restaurants/new" class="main-btn-add btn text-white me-3">Add new restaurants</a>
        <a href="/users/logout" class="main-btn-add btn text-white">Logout</a>
        {{else}}
        <a href="/users/login" class="main-btn-add btn text-white">Login</a>
        {{/if}}
      </div>
    </div>
  </nav>
  <div class="banner"></div>
  <!-- partial templates will replace the part of "body" here -->
  {{{ body }}}

  <script src="/javascripts/bootstrap.bundle.js"></script>
  <script src="https://kit.fontawesome.com/8dad737d39.js" crossorigin="anonymous"></script>

</body>

</html>